<launch>
  <arg name="session_name" default="abc" />
  <node pkg="sport_sole" type="sport_sole_publisher" name="sport_sole_publisher" output="screen">
    <param name="session_name" value="$(arg session_name)" type="str"/>
  </node>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find sport_sole)/rviz/accel_orient.rviz"/>
  <node name="acc_plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/sport_sole_publisher/accel_left/points[1] /sport_sole_publisher/accel_right/points[1]" />
</launch>